name: c1

on: push

jobs:
  run-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

        with:
          node-version: 24
